[user]
	name = sudachi0114
	email = jnevariste@gmail.com
[core]
	editor = emacs
[alias]
	tree = log --graph --all --format='%x09%C(yellow)%h%Creset %x09%C(cyan)%an%Creset %C(magenta reverse)%d%Creset %s'
	plog = log --format='%C(yellow)%h %C(green)%cd %C(cyan)[%an] %C(red)%d %C(reset)%s' --date=format:'%Y/%m/%d %H:%M:%S'
	glog = log --all --graph --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)[%an] %C(red)%d %C(reset)%s' --date=format:'%Y/%m/%d %H:%M:%S'
